<h1><%= @task.title %></h1>
<h3><%= @task.details %></h3>
<h3 class="done"> <%= @task.completed ? "DONE" : "" %></h3>

<p><%= link_to "Edit this task", edit_task_path %></p>
<p><%= link_to "Delete this task", delete_task_path, data:{confirm: "Are you sure you want to delete #{@task.title}?"} %></p>
<p><%= link_to "Go back to index", tasks_path %></p>
